/*ADMIN======================================================================*/
/*Global*/

.btn-modif{
	float:right; 
	margin-top:10px;
}
.btn-modif li{
	display: inline-block;
}

/*Slider*/

.apercu {
    max-height: 200px;
    max-width: 100%;
    height: auto;
}
.apercu2 {
	height:275px;
	max-width:200px;
}
.valide {
	margin-top:15px;
	margin-bottom:15px;
}
.catform {
	margin-top:15px;
}
.apercutable {
}
.line9{
	min-width:100px;
	height:20px;
	padding:2px;
}
.line9b{
	height:10px;
	padding-left:20px;
	padding-right:20px;
}

@media (min-width: 768px){
	.modal-news-slide .modal-dialog {
	    width: 70%;
	}
}

.modal-news-slide .modal-dialog .modal-body input, .modal-news-slide .modal-dialog .modal-body textarea{
    width: 100%;
}
.modal-news-slide .modal-dialog .modal-body textarea{
    height: 300px;
}
.info-cont{
	min-height: 230px;
}
/*CC*/
.cont-ccmarche{
	height: calc(100vh - 50px);
}
.cont-visio{	
	height: calc(100vh - 350px);
    overflow: hidden;
    padding: 0 18px;
}
.cont-visio h5{	
	font-weight: 800;
}
.visio{
	overflow-y: scroll;
    height: 100%;
    padding: 10px 0px;
}
.visio h5{
	text-align: center;
}
.visio-first h5{
	text-align: left;
}

.apercucc {	
    position: relative;
    width: 80%;
    margin: 0 10%;
}
.cont-infog{
	width:100%;
	height: 200px;
	overflow: hidden;
	margin-bottom: 10px;
}
.cont-infog img{
	width: 100%;
}
.visio .titrecatevent {
	width: 80%;
	margin: 0 10%;
}
.input-img{
	margin-bottom: 15px;
}
.bui-text p{
	width: 80%;
	margin: 0 10%;
	word-wrap: break-word;
}

/*Solution*/

.apercuinfog{
	width: 100%;
	height:160px;
	overflow: hidden;
	margin-bottom: 10px;
}
.apercuinfog img{
	width: 100%;
}
.apercutxt{
    height: 50px;
}
@media (max-width: 1305px){
	.apercutxt{
	    height: 80px;
	}
}
.apercutxt a{
    text-decoration: none;
    color: #1b334c;
}
.apercutxt a:hover {
    color: rgb(247,156,49);
    text-decoration: none;
}

/*Event*/

.heading-title{
	height:55px;
}
.cont-apercu-event{
	height: 200px;
	overflow: hidden;
}
.cont-apercu-event img{
	height: 100%;
}
/*Communauté*/
.panel-vp{
	/*height: 350px;*/
}
.cont-apercucom{
	height:190px;
	overflow: hidden;
}
.apercucom{
    max-height: 200px;
    max-width: 100%;
    height: auto;
}
.cont-vp-img img{
	width: 100%;
}
.cont-eq-img img{
	width: 100%;
}
.panel-vp .vuCom .com-vp{
	height: 170px;
    overflow-x: hidden;
}

.panel-eq .vuCom .com-eq{
	height: 170px;
    overflow-x: hidden;
}